-e .

beautifulsoup4==4.14.3
black==26.3.1
flake8-bugbear==25.11.29
flake8-print==5.0.0
flake8==7.3.0
freezegun==1.5.5
isort==8.0.1
moto==5.1.22
pytest-mock==3.15.1
pytest-profiling==1.8.1
pytest-xdist==3.8.0
pytest==9.0.2
requests-mock==1.12.1
urllib3==2.6.3
